#contact{
  padding-top: 5rem;
}

#contact h1{
  text-align: center;
}

.contact-form{
  width: 35rem;
  margin: 5rem auto;
}

input, textarea{
  width: 100%;
  background: var(--main-light);
  color: var(--main-dark);
  border: 0;
  border-radius: 6px;
  padding: 1rem 2rem;
  font-size: 1rem;
}

textarea{
  resize: vertical;
  min-height: 12rem;
}

label{
  display: block;
  margin: 1rem 0 0.25rem 0;
  color: var(--main-dark);
}

.contact-form button{
  margin-top: 1rem;
  float: right;
  font-size: 1rem;
}

@media(max-width: 765px){
  .contact-form, .contact-form button{ width: 100%; }
}
