header{
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  text-align: right;
  font-size: 1.125rem;
}

header a{
  position: relative;
  margin-left: 2rem;
}

header svg{
  width: 22px;
  height: 22px;
  position: absolute;
  bottom: 0;
}

.menu{
  display: none;
}

@media(min-width: 701px){
  header {
    position: sticky;
    top: 0;
    background: #ffffffef;
  }
}

@media(max-width: 1400px){
  header, main, footer{
    padding: 0 3rem !important;
  }
  
  header{
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
}

@media(max-width: 700px){
  .menu{
    display: block;
    position: absolute;
    top: 15px;
    right: 25px;
  }

  .menu div{
    width: 40px;
    height: 2px;
    margin-top: 8px;
    background: var(--main-normal);
  }

  .menu:focus + nav{
    top: 0;
  }

  nav{
    background: var(--main-normal);
    text-align: center;
    padding: 4rem 1rem;
    width: 100%;
    position: absolute;
    left: 0;
    top: -100%;
    transition: top 300ms;
  }
  
  nav a{
    color: var(--main-light);
    display: block;
    margin-left: 0;
    margin-bottom: 1rem;
  }
}