.home{
  margin-top: 12.5rem;
}

.home h1{
  margin-bottom: 3rem;
}

.home p{
  margin-bottom: 4rem;
}

@media(max-width: 1100px){
  .home{
    margin-top: 10rem;
  }

  .home h1{
    font-size: 4.5rem;
  }
}

@media(max-width: 700px){
  .home{
    margin-top: 2rem;
    text-align: center;
  }

  .home h1{
    font-size: 2rem !important;
  }
  
  .home h2{
    font-size: 1.5rem;
  }

  .home .btn{
    display: block;
    margin-left: 0;
    margin-top: 1rem;
  }
}