@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import url('./home.css');
@import url('./header.css');
@import url('./work.css');
@import url('./contact.css');
@import url('./footer.css');

:root{
  --main-light: #F4EEFF;
  --main-normal: #7137EE;
  --main-dark: #3A1D78;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

::selection{
  background-color: var(--main-dark);
  color: var(--main-light);
}

html{
  scroll-behavior: smooth;
}

body{
  transition: background-color 500ms;
}

header, main, footer{
  padding: 0 12.5rem;
}

h1{
  color: var(--main-normal);
  font-size: 5.5rem;
}

h2{ font-size: 3rem; }

p{ font-size: 1.125rem; }

h2, p{ color: var(--main-dark); }

a{
  color: var(--main-dark);
  text-underline-position: under;
}

.btn{
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--main-normal);
  color: var(--main-light);
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  letter-spacing: 0.1px;
  border: 0;
  cursor: pointer;
}

.btn-secondary{
  background: var(--main-light);
  color: var(--main-dark);
  margin-left: 2rem;
}

@media(prefers-color-scheme: dark){
  :root{
    --main-light: #26114d;
    --main-normal: #b08aff;
    --main-dark: #e9deff;
  }

  body{
    background-color: #000;
  }
}

@media(min-width: 2260px){ :root{ font-size: 20px; } }
@media(min-width: 2560px){ :root{ font-size: 22px; } }
@media(min-width: 3840px){ :root{ font-size: 32px; } }
@media(min-width: 4840px){ :root{ font-size: 46px; } }
@media(min-width: 5840px){ :root{ font-size: 60px; } }
