#work{
  margin: 20vh 0 10vh 0;
  padding-top: 5rem;
}

#work h1{
  margin-bottom: 5rem;
}

#work h2{
  font-size: 2rem;
}

#work p{
  line-height: 1.5;
}

.work-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 10rem;
  width: auto;
  align-items: center;
}

.work-grid img{
  width: 100%;
  border-radius: 6px;
}

.work-grid .desc{
  padding-left: 3rem;
  width: 30rem;
}

.work-grid .desc:nth-child(odd){
  padding-left: 0;
  padding-right: 3rem;
  justify-self: end;
}

.tags{
  margin: 0.5rem 0;
}

.tags span{
  background: var(--main-dark);
  color: var(--main-light);
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  border-radius: 6px;
  font-size: 14px;
  display: inline-block;
  margin: 0 0.25rem 0.5rem 0;
}

.actions{
  margin-top: 2rem;
}

.actions .btn-secondary{
  margin-left: 1rem;
}

@media(max-width: 1400px){
  .work-grid .desc{
    width: auto;
    padding-left: 2rem;
  }
  .work-grid .desc:nth-child(odd) {
    padding-right: 2rem;
  }
}

@media(max-width: 800px){
  .work-grid{
    grid-template-columns: 100%;
    row-gap: 0;
  }

  .work-grid .desc {
    padding: 1.5rem 0;
  }
  
  .mt-5{
    margin-top: 5rem;
  }

  #work h2{
    font-size: 1.5rem;
  }

  .desc .btn{
    width: 100%;
    text-align: center;
  }

  .desc .btn-secondary{
    margin-left: 0;
    margin-top: 1rem;
  }
}